@charset "UTF-8";

body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
}

h1, h2{
  padding: 1rem 0;
  text-align: center;
}
h1 {
  font-size: 2rem;
}h2{
  font-size: 1.3rem;
}

#header {
  font-family: 'Oswald', sans-serif;
  font-size: 5vw;
  color: #fff;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black;
  text-align: center;
  padding: 5rem 0;
  background-image:url('../background2.jpg');
  background-repeat:  no-repeat;
  background-size:  cover;
}
#navigator {
  background: #f0f0f0;
  box-shadow: 0 2px 5px #aaa;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}
.navigator.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.navichild {
  padding: 1em;
}
.navichild a {
  padding: 0.5rem 0 0.5rem 3rem;
  margin: 0;
  color: #111;
  text-decoration: none;
  background-repeat : no-repeat;
  background-position : left;
  background-size: contain;
}
.navichild a:visited {
  color: #111;
}

.content {
  margin: 1rem;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 70px;
  height: 70px;
  padding: 0 1rem;
}

#footer {
  background: #333;
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem 0;
}
#footer a {
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
}
#footer a:visited{
  color: #fff;
}

/*--------- ↑header,footer,bodyなど、ほかのページを作るときも使いまわせる部分 ----------*/
.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme img{
  padding: 0 1rem;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.aboutme div{
  width: 60%;
}

.skill {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.subtitle {
  width: 100%;
}

.card {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  background: #fafafa;
  border: 2px solid #d0d0d0;
}
.card img {
  width: 50px;
  height: 50px;
  padding: 0.5rem 0;
}
.card .card-content{
  display: flex;
  align-items: center;
}
.card div p{
  padding: 0 0.5rem;
}

.card span{
  color: #c0a080;
}

.card .info{
  text-align: center;
}
